html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: "Source Code Pro", "Monaco", "Menlo", "Consolas", "Courier New", Courier, monospace;
	tab-size: 2;
}

body {
	display: grid;
	grid-template-areas:
		"header header"
		"input  output "
		"html   demo   "
		"footer footer "
		"hidden hidden ";
	grid-template-rows: 48px 40vh 1fr 48px 0;
	grid-template-columns: minmax(640px, max-content) 1fr;
}

header,
footer {
	background: rgb(237, 237, 237);
	height: 48px;
	line-height: 45px;
	padding: 0 0.5rem;
	box-sizing: border-box;
}

header {
	border-bottom: 1px solid rgb(191, 191, 191);
}

footer {
	border-top: 1px solid rgb(191, 191, 191);
}

header > *,
.options > *,
footer > * {
	vertical-align: middle;
}

header {
	grid-area: header;
	margin: 0;
}

header > label {
	margin-left: 1em;
}

header select {
	font-size: 16px;
	width: 320px;
}

h1, h2 {
	display: inline-block;
	margin: 0;

	font-weight: normal;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 20px;
}

aside.options {
	grid-area: options;
	text-align: right;
	float: right;
	box-sizing: border-box;
}

aside.options > * {
	height: 100%;
}

aside.options h2::after {
	content: ":";
}

aside.options ul {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}

aside.options li {
	display: inline-block;
}

aside.options input[type="checkbox"] {
	vertical-align: text-bottom;
}

aside.options label {
	cursor: help;
}

#input-container {
	grid-area: input;
	position: relative;
}

#output {
	grid-area: output;
	position: relative;
	overflow: auto;
	background-color: #f8f8f8;
	color: #999;
}

#output::before {
	content: "Output of PostCSS";
	padding: 1em;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	color: gray;
	background-color: #f0f0f0;
}

#output .error {
	color: red;
	font-weight: bold;
}

#output .warning {
	color: darkorange;
	font-weight: bold;

}

#html-container {
	grid-area: html;
	position: relative;
}

#demo {
	grid-area: demo;
	position: relative;
	overflow: auto;
}

footer {
	grid-area: footer;
	margin: 0;
}

footer p {
	margin: 0;
}

footer aside {
	display: block;
	float: right;
}

footer aside > * {
	display: inline-blocki;
	vertical-align: middle;
}

textarea {
	background-color: white;
}

textarea,
pre {
	border: 1px solid #f0f0f0;
	padding: 0.5em;
	margin: 0;
	font-size: 16px;
	font-family: "Source Code Pro", "Monaco", "Menlo", "Consolas", "Courier New", Courier, monospace !important;
	height: 100%;
	box-sizing: border-box;
}

@supports not (grid-template-areas:"test") {
	body {
		position: relative;
		display: block
	}

	header {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		box-sizing: border-box;
	}

    #input-container {
	    position: absolute;
	    left: 0;
	    top: 48px;
	    width: 640px;
	    height: calc(50% - 48px);
	    overflow: auto;
	    box-sizing: border-box;
    }

    #output {
	    position: absolute;
		left: 640px;
	    right: 0;
	    top: 48px;
	    height: calc(50% - 48px);
	    overflow: auto;
	    box-sizing: border-box;
    }

    #html-container {
	    position: absolute;
	    top: 50%;
	    left: 0;
	    width: 640px;
	    height: calc(50% - 48px);
	    overflow: auto;
	    box-sizing: border-box;
    }

    #demo {
	    position: absolute;
	    top: 50%;
	    left: 640px;
	    right: 0;
	    height: calc(50% - 48px);
	    width: calc(100% - 640px);
	    box-sizing: border-box;
    }

    footer {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    width: 100%;
	    box-sizing: border-box;
    }
}